<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mantenimientos</title>
    
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Mobile-First Flask App</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/mobile.css') }}" media="screen and (max-width: 767px)">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/desktop.css') }}" media="screen and (min-width: 768px)">
  
      <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/navbars.css" rel="stylesheet">
    <link href="static/css/catt-style.css" rel="stylesheet">
    <script src="static/js/bootstrap.bundle.min.js"></script>
  
    
  

  </head>
  <body>
    <div class="container"></div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Fifth navbar example">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">CATT</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarsExample05">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
          <form role="search">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
          </form>
        </div>
      </div>
    </nav>
    
    <h1>Mantenimientos</h1>
    <table>
      <thead>
        <tr>
          <th>Equipo</th>
          <th>Area</th>
          <th>Actividades</th>
          <th>Frecuencia</th>
          <th>Responsable</th>
          <th>Meses</th>
        </tr>
      </thead>
      <tbody>
        {% for mantenimiento in mantenimientos %}
        <tr>
          <td>{{ mantenimiento.equipo }}</td>
          <td>{{ mantenimiento.area }}</td>
          <td>{{ mantenimiento.actividades }}</td>
          <td>{{ mantenimiento.frecuencia }}</td>
          <td>{{ mantenimiento.responsable }}</td>
          <td>{{ mantenimiento.meses }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>  
  </body>
</html>
